* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #656565;
    font-family: 'Roboto', sans-serif;
    background: #f5f5f5;
}

button {
    border: none;
    outline: none;
    padding: 0;
    background: transparent;
}

img {
    width: 100%;
    vertical-align: middle;
}

.open-modal {
	overflow: hidden;
}

.bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    display: none;
    background: #00000066;
}

.bg.show {
    display: block;
}

.wrapper {
	max-width: 1200px;
	padding: 0 20px;
	margin: 0 auto;
    background: #fff;
}

header {
    padding: 0 20px;
    background: #3ab1bf;
}

header nav {
    display: flex;
    align-items: center;
}

header .logo {
    position: relative;
    z-index: 110;
    text-decoration: none;
    display: block;
    margin: 0 auto;
    color: #fff;
    font-weight: 700;
    font-size: 21px;
}

header .logo img {
    max-width: 70px;
}

.burger {
    position: relative;
    z-index: 110;
    width: 40px;
    height: 70px;
    padding: 10px 5px;
    cursor: pointer;
    transition: 0.35s ease;
}

.burger:hover {
    background: #31a7b4;
}

.burger .menu-icon {
    position: absolute;
    top: 50%;
    right: 5px;
    left: 5px;
    margin-top: -1px;
    height: 3px;
    background: #fff;
    opacity: 1;
    transition: 0.35s ease;
}

.burger .menu-icon:before {
    content: "";
    display: block;
    position: absolute;
    top: 10px;
    right: 0;
    width: 100%;
    height: 3px;
    background: #fff;
    transition: 0.35s ease;
}

.burger .menu-icon:after {
    content: "";
    display: block;
    position: absolute;
    bottom: 10px;
    right: 0;
    width: 100%;
    height: 3px;
    background: #fff;
    transition: 0.35s ease;
}

.burger.menu-on .menu-icon{
    background: rgba(48,60,66,0);
}

.burger.menu-on .menu-icon:before {
    top: 0;
    transform: rotate(45deg);
}
.burger.menu-on .menu-icon:after {
    bottom: 0;
    transform: rotate(-45deg);
}

.menu-sm {
    padding: 0;
    margin: 0;
}

.menu-sm li {
    display: inline-block;
}

.menu-sm .icon {
    display: block;
    text-decoration: none;
    width: 100%;
    padding: 24px 7px;
    transition: background 0.35s ease;
}

.menu-sm .icon:hover {
    background: #31a7b4;
}

.menu-sm .icon img {
    max-width: 22px;
}

.sidebar {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    display: flex;
    flex-direction: column;
    max-width: 250px;
    width: 100%;
    padding-top: 70px;
    color: #fff;
    background: #3ab1bf;
    border-right: 1px solid #25818c;
    box-shadow: 0 0 5px rgb(51, 125, 133);
    transform: translate(-100%);
    transition: transform 0.35s ease;
}

.sidebar.open {
    transform: translate(0);
}

.user-info {
    text-align: center;
    padding: 10px 20px;
    background: #2397a5;
    border-bottom: 1px solid #25818c;
    border-top: 1px solid #25818c;
}

.user-info img {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.user-info p {
    font-size: 16px;
    margin-top: 10px;
}

.nav-list {
    flex-grow: 1;
    overflow-y: auto;
    overflow-x: hidden;
}

.nav-list ul {
    list-style: none;
}

.nav-list .link span,
.nav-list .link a {
    display: block;
    padding: 15px 20px;
    font-size: 14px;
    color: #fff;
}

.nav-list .link a {
    text-decoration: none;
    transition: 0.35s ease;
}

.nav-list .link a:hover {
    background: #31a7b4;
}

.nav-list .link:not(:last-child) {
    border-bottom: 1px solid #25818c;
}

.nav-list .link .submenu {
    padding-bottom: 10px;
}

.nav-list .link .submenu li {
    position: relative;
}

.nav-list .link .submenu li:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 25px;
    margin: auto;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background: #fff;
}

.nav-list .link .submenu li a {
    padding: 7px 20px 7px 40px;
}

.logout-block {
    padding: 10px 20px;
    border-top: 1px solid #25818c;
}

.logout-block .btn-logout {
    width: 30px;
    cursor: pointer;
}

.from-to {
	display: flex;
    flex-wrap: wrap;
	padding: 20px 0;
}

.btn {
    padding: 10px 15px;
    background: #3ab1bf;
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
    border-radius: 2px;
    border: 1px solid #3ab1bf;
    transition: color 0.35s ease , background 0.35s ease;
    outline: none;
    cursor: pointer;
}

.btn:hover {
    color: #3ab1bf;
    background: #fff;
}

.btn:disabled {
    opacity: 0.7;
}

.btn:disabled:hover {
    cursor: not-allowed;
    background-color: #3ab1bf;
    color: #fff;
}

.caption-wrap {
    padding: 20px;
    width: 50%;
}

.caption-img {
    padding: 20px;
    width: 50%;
}

.caption-img img {
    width: 100%;
}

.caption {
    max-width: 600px;
    width: 100%;
    padding-bottom: 20px;
    margin: 0;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.legend {
    margin: 0;
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    color: #929191;
    text-align: justify;
}

.wrap-way {
    padding: 20px;
}

.wrap-way label {
    display: block;
    padding-bottom: 10px;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.wrap-way select {
    display: block;
    width: 100%;
    height: 50px;
    padding: 5px 5px 5px 10px;
    background: #3ab1bf;
    border: none;
    outline: none;
    color: #fff;
    font-size: 15px;
}

.way-content {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 0 40px;
    font-family: 'Roboto', sans-serif;
}
.way-content .back {
    font-size: 21px;
    padding: 0 10px;
    margin: 0 0 20px 20px;
}

.way-content .back span {
    display: inline-block;
    margin-bottom: 2px;
}

.way-head {
    width: 100%;
    padding-bottom: 20px;
    text-align: center;
    margin: 0;
}

.way-img {
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
}

.way-img img {
    width: 100%;
}

.way-info {
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
}

.way-info h4 {
    font-size: 18px;
    text-transform: uppercase;
    padding-bottom: 20px;
    margin: 0;
    font-weight: 400;
}

.way-info h4 .when {
    text-transform: none;
}

.way-info h4 .when,
.way-info .time,
.way-info .where,
.way-info .city-time,
.way-info .price {
    font-weight: 700;
}

.way-info .way-time,
.way-info .way-where,
.way-info .arrival {
    padding-bottom: 10px;
}

.way-info .price {
    font-size: 21px;
    font-weight: 700;
    color: #3399cc;
    text-align: right;
    padding: 20px 0 30px;
}

form {
    display: flex;
    flex-wrap: wrap;
    padding: 40px 10px;
    font-family: 'Roboto', sans-serif;
}

form .form-group {
    position: relative;
    width: 50%;
    padding: 0 10px 30px;
    box-sizing: border-box;
}

form .form-group.col-sm {
    width: 100%;
    display: flex;
    align-items: center;
}

form .col-sm label {
    margin-right: 15px;
}

form .col-sm input {
    max-width: 60px;
    width: 100%;
}

form .form-group .error {
    display: none;
    position: absolute;
    bottom: 15px;
    left: 10px;
    font-size: 12px;
    color: #bf3a3a;
}

form div:last-child {
    width: 100%;
    padding: 0 10px;
    text-align: center;
}

form input {
    display: block;
    width: 100%;
    height: 40px;
    padding: 5px 5px 5px 10px;
    font-size: 17px;
    color: #b3b3b3;
    outline: none;
    border: 1px solid #b3b3b3;
    background: #f9f9f9;
    transition: all 0.3s ease;
    box-sizing: border-box;
}

.module {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 9999;
	padding: 30px 15px;
	background: #000000b3;
	overflow-x: hidden;
	overflow-y: auto;
}

.module-content {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.module-body {
	padding: 20px;
	background: #fff;
	border: 1px solid #b3b3b3;
	border-radius: 2px;
}

.module-body p {
	font-size: 18px;
	text-align: center;
}

.module-body p:not(:last-child) {
	padding-bottom: 10px;
}

caption-elem {
    display: flex;
    align-items: center;
}

selection-from,
selection-to {
    width: 50%;
}

form-order {
    display: block;
    border-top: 1px solid #b3b3b3;
}

.user-profile .user-avatar {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 20px 0;
}

.user-profile .avatar {
    max-width: 175px;
    max-height: 175px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.user-profile .info {
    flex-grow: 1;
    padding: 20px 0;
    border-top: 1px solid #b3b3b3;
}
.user-profile .item {
    display: flex;
    padding: 10px 0;
    font-size: 18px;
}

.user-profile .item label {
    width: 50%;
    text-align: right;
    padding-right: 5px;
}
.user-profile .item span {
    width: 50%;
    padding-left: 5px;
    font-weight: 700;
}

@media (max-width: 767px) {
    caption-elem {
        flex-direction: column;
    }

    .caption-wrap,
    .caption-img,
    selection-from,
    selection-to,
    .way-img,
    .way-info,
    form .form-group {
        width: 100%;
    }
}

@media (max-width: 575px) {
    header .logo span {
        display: none;
    }

    header .logo img {
        max-width: 50px;
    }

    .burger {
        height: 50px;
    }

    .menu-sm .icon {
        padding: 14px 7px;
    }

    .sidebar {
        padding-top: 50px;
    }

    .user-profile .item {
        display: block;
        font-size: 16px;
    }
    .user-profile .item label {
        width: auto;
        text-align: left;
    }
    .user-profile .item span {
        width: auto;
    }
}